h1{
	text-align: center;
	color: #497dfa;
}

ul{
	list-style: none;
	display: flex;
}

ul li{
	position:relative;
	margin:0;
	padding:.4rem;
}

ul li.current-menu-item{
	background:#ddd
}

ul li:hover{
	background:#f6f6f6
}

ul ul{
	display: none;
	position: absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

ul ul li{
	min-width:200px
}

.label{
    display: block;
	padding:10px 15px;
    color:#333;
	text-decoration:none;
	font-size:12px;
	padding:0 15px;
}

.label{
    display: block;
	padding:10px 15px;
    color:#333;
	text-decoration:none;
	font-size:12px;
	padding:0 15px;
}

ul ul ul{
	top:0;
	left:100%
}

ul li:hover > ul
{
	display:block
}